@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand:300,400,700|Merriweather|Roboto+Slab|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand:300,400,700|Merriweather|Roboto+Slab|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand:300,400,700|Merriweather|Roboto+Slab|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand:300,400,700|Merriweather|Roboto+Slab|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand:300,400,700|Merriweather|Roboto+Slab|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand:300,400,700|Merriweather|Roboto+Slab|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand:300,400,700|Merriweather|Roboto+Slab|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand:300,400,700|Merriweather|Roboto+Slab|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand:300,400,700|Merriweather|Roboto+Slab|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand:300,400,700|Merriweather|Roboto+Slab|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand:300,400,700|Merriweather|Roboto+Slab|Source+Code+Pro");
* { box-sizing: border-box; margin: 0 auto; }

body { margin: 0 auto; padding: 0; font-family: "Quicksand", "Montserrat", "Merriweather", "Arial", sans-serif, sans-serif; font-weight: 300; background-image: linear-gradient(135deg, #ffae27 0%, #de496d 100%); background-size: cover; color: white; background-repeat: no-repeat; transition: background-image 2s; }

.header { padding-top: 20vh; padding-bottom: 60px; text-align: center; font-size: 30px; }

.container { width: 1200px; max-width: 100%; }

.menu-button-input[type="checkbox"] + label { font-size: 35px; cursor: pointer; }

.menu-button-input, .menu-button-label { display: none; color: black; }

.aside-social-container { position: fixed; left: -25px; top: 36vh; list-style-type: none; z-index: 998; }

.aside-social-link { color: white; }

.aside-social-item { padding: 10px 20px; font-size: 30px; z-index: 998; }

.aside-social-item i { transition: .4s; }

.aside-linkedin-icon:hover { color: #0873ac; }

.aside-facebook-icon:hover { color: #2e5990; }

.aside-github-icon:hover { color: black; }

.navigation { width: 100%; height: 60px; position: fixed; top: 0; left: 0; transition: .6s all linear; z-index: 998; }

.on-scroll-color { transition: 0.6s all linear; background-color: rgba(0, 0, 0, 0.9); position: fixed; top: 0; width: 100%; z-index: 999; display: fixed; -ms-flex-pack: center; justify-content: center; padding-bottom: 0; margin-top: 0; height: 60px; }

.on-scroll-color .container .menu-item > a { color: white; }

.navigation-container { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.logo { font-size: 18px; color: white; font-weight: 700; font-family: "Source Code Pro", "Roboto Slab", "Merriweather", "Arial", sans-serif; border: 2px solid white; border-radius: 20px; background-color: transparent; margin-left: 10px; }

.logo-on-scroll { font-size: 18px; color: white; font-weight: 700; font-family: "Source Code Pro", "Roboto Slab", "Merriweather", "Arial", sans-serif; border: 2px solid white; border-radius: 20px; background-color: transparent; margin-left: 10px; }

.menu { display: -ms-flexbox; display: flex; margin-right: 0; }

.menu-item { list-style-type: none; z-index: 999; }

.menu-item a { padding: 15px 15px; text-decoration: none; color: white; font-size: 12px; text-transform: uppercase; font-weight: 700; line-height: 60px; letter-spacing: 1.5px; transition: .4s; }

.menu-item a:hover { cursor: pointer; color: white; }

.menu-item a:hover::after { opacity: 1; transform: translateX(6px); }

.menu-item a:hover::before { opacity: 1; transform: translateX(-6px); }

.menu-item a::before { content: '<'; display: inline-block; color: white; opacity: 0; transition: .1s all linear; }

.menu-item a::after { content: '/>'; display: inline-block; color: white; opacity: 0; transition: .1s all linear; }

header { height: 80vh; }

.header-container { text-align: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }

.header-btn-link { margin-top: 40px; display: inline-block; height: 60px; width: 300px; line-height: 60px; font-size: 16px; padding-left: 25px; padding-right: 25px; color: white; border: 1px solid white; border-radius: 4px; text-decoration: none; font-weight: 300; letter-spacing: 1.5px; transition: .2s all linear; opacity: 0; cursor: pointer; overflow: hidden; }

.header-btn-link span { display: block; position: relative; top: 0; left: 0; transition: .2s all linear; }

.header-btn-link:hover { border: 3px solid white; }

.header-btn-link:hover span:first-of-type { top: -60px; }

.header-btn-link:hover span:last-of-type { top: -65px; }

.header-btn-link-icon { font-size: 18px; }

.text-container { font-family: "Quicksand", "Montserrat", "Merriweather", "Arial", sans-serif; }

#typedText { font-size: 50px; font-weight: 300; margin-top: 30px; }

/*! Devicons 1.8.0 made by Theodore Vorillas / http://vorillaz.com  */
@font-face { font-family: 'devicons'; src: url("../fonts/devicons.eot?xqxft6"); src: url("../fonts/devicons.eot?#iefixxqxft6") format("embedded-opentype"), url("../fonts/devicons.woff?xqxft6") format("woff"), url("../fonts/devicons.ttf?xqxft6") format("truetype"), url("../fonts/devicons.svg?xqxft6#devicons") format("svg"); font-weight: normal; font-style: normal; }

.devicons { font-family: 'devicons'; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.skills { height: 100vh; margin-bottom: 60px; }

.skills-item { text-align: center; }

.skills-grid { padding: 20px; display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto auto; grid-template-columns: auto auto auto auto; grid-gap: 35px 35px; height: 100%; }

.devicons-skills { font-size: 90px; transition: 0.3s all linear; margin: auto; color: white; }

.devicons-skills:hover { transform: scale(1.05); }

.skills-paragraph { font-size: 18px; }

.html5-skills:hover { color: #FB4300; }

.css3-skills:hover { color: #0095D0; }

.responsive-skills:hover { color: #00A792; }

.javascript-skills:hover { color: #F8DA51; }

.jquery-skills:hover { color: #0069AA; }

.sass-skills:hover { color: #DF5F95; }

.bootstrap-skills:hover { color: #5F4182; }

.nodejs-skills:hover { color: #6ABE2A; }

.react-skills:hover { color: #00DCFF; }

.git-skills:hover { color: #FF421A; }

.npm-skills:hover { color: #E22B2C; }

.mongodb-skills:hover { color: #2CAB57; }

.github-skills:hover { color: black; }

.ghost-skills:hover { color: white; }

.visualstudio-skills:hover { color: #007BCC; }

.portfolio-grid { display: -ms-grid; display: grid; -ms-grid-columns: auto auto; grid-template-columns: auto auto; gap: 0px; -ms-flex-pack: center; justify-content: center; }

.portfolio-item { transition: 0.3s all linear; position: relative; padding: 10px; }

.portfolio-btn-container { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; margin: 20px auto 80px auto; }

.portfolio-item-btn { height: 40px; width: 120px; border: 1px solid white; background-color: transparent; border-radius: 5px; color: white; font-size: 30px; transition: .3s all linear; }

.portfolio-item-btn:hover { cursor: pointer; transform: scale(1.05); }

.portfolio-btn { margin-bottom: 60px; width: 180px; height: 60px; border: 1px solid white; border-radius: 5px; background-color: transparent; color: white; font-size: 16px; font-weight: 300; letter-spacing: 1.5px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding-left: 25px; transition: .3s all linear; }

.portfolio-btn:hover { cursor: pointer; transform: scale(1.05); }

.portfolio-btn-icon { font-size: 30px; }

.portfolio-container { text-align: center; }

.portfolio-item-img { background-position: center; background-size: cover; background-repeat: no-repeat; border-radius: 3px; padding: 240px 140px; -webkit-filter: grayscale(100%); filter: grayscale(100%); opacity: .8; }

.portfolio-item-img-1 { background-image: url("../images/golden.jpg"); }

.portfolio-item-img-2 { background-image: url("../images/puzzle.jpg"); }

.portfolio-item-img-3 { background-image: url("../images/plans.jpg"); }

.portfolio-item-img-4 { background-image: url("../images/pies.jpg"); }

.portfolio-item-paragraph { color: white; text-decoration: none; width: 90%; margin-top: 20px; line-height: 30px; }

.portfolio-span { font-weight: 700; }

.contact { height: 100vh; }

.contact-container { display: -ms-flexbox; display: flex; margin-top: 100px; -ms-flex-pack: center; justify-content: center; }

.contact-link { text-decoration: none; color: rgba(0, 0, 0, 0.6); transition: .5s; }

.contact-link:hover { color: black; }

.contact-icon { font-size: 140px; }

.about { height: 100vh; }

.about-container { display: -ms-flexbox; display: flex; }

.about-img { width: 80%; opacity: .9; border-radius: 6px; -webkit-filter: grayscale(90%); filter: grayscale(90%); }

.about-text-container { width: 53%; }

.about-text-header { padding-bottom: 20px; }

.about-text-paragraph { padding-bottom: 25px; letter-spacing: 1px; line-height: 20px; text-align: justify; }

.about-span { font-weight: 700; }

input, textarea { font-family: "Quicksand", "Montserrat", "Merriweather", "Arial", sans-serif; font-size: 18px; }

footer { background-color: #323B42; color: #878787; }

form { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.footer-personal-info { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; width: 85%; }

.footer-input { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-positive: 1; flex-grow: 1; }

.footer-input-msg { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-positive: 1; flex-grow: 1; }

.personal-input { width: 95%; padding-top: 10px; }

.msg-input { width: 85%; margin-top: 40px; }

.msg-input, .personal-input { border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #878787; background-color: transparent; height: 50px; }

.footer-msg-btn { position: relative; width: 200px; height: 50px; margin-top: 40px; border: 2px solid #878787; border-radius: 4px; background-color: transparent; color: #878787; }

.footer-msg-btn:hover { cursor: pointer; }

.footer-paragraph { line-height: 50px; font-size: 12px; margin-left: 10px; }

.footer-social { display: -ms-flexbox; display: flex; margin-top: 40px; }

.footer-social-container { list-style: none; display: -ms-flexbox; display: flex; -ms-flex-preferred-size: 20%; flex-basis: 20%; -ms-flex-align: center; align-items: center; margin-right: 10px; }

.footer-social-container a { text-decoration: none; font-size: 30px; color: #878787; }

@media all and (max-width: 1200px) { .skills, .contact { height: 100%; }
  .portfolio-grid { -ms-grid-columns: auto auto; grid-template-columns: auto auto; margin-left: 10px; margin-right: 10px; }
  .about-img { float: right; }
  .about-text-container { width: 40vw; }
  .header { padding-top: 12vh; padding-bottom: 30px; }
  .about-header { padding-top: 20vh; }
  .contact-container { margin: 80px auto; } }

@media all and (max-width: 1050px) { .navigation-container { padding-top: 10px; display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .navigation { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; margin: auto; background-color: rgba(0, 0, 0, 0.9); }
  .logo { margin-left: 10px; color: white; border: 2px solid grey; }
  .menu-button-label { display: block; margin: 0 auto; padding: 3px 10px; color: white; margin-right: 10px; margin-top: -45px; }
  .menu-button-input:not(:checked) ~ ul { display: none; }
  .menu-button-input:checked ~ ul { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .menu-item { background-color: rgba(0, 0, 0, 0.95); display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; width: 100vw; line-height: 44px; margin: auto; -ms-flex-align: center; align-items: center; }
  .menu-item a { padding-left: 0; color: white; }
  .menu { display: none; padding-left: 0; }
  #typed-text { font-size: 16px; }
  .about-header { padding-top: 20vh; }
  .about { height: 100%; }
  .about-container { -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; }
  .about-img-container { text-align: center; }
  .about-img { float: none; }
  .about-text-container { text-align: center; margin-top: 30px; width: 75vw; }
  .contact-container { margin-bottom: 150px; }
  .footer-paragraph { padding-left: 30px; } }

@media all and (max-width: 800px) { .portfolio-grid { -ms-grid-columns: auto; grid-template-columns: auto; }
  .contact-form { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .footer-input-msg { width: 80%; }
  .personal-input { font-size: 18px; }
  .footer-input { margin-bottom: 30px; }
  .msg-input { width: 100%; font-size: 18px; }
  .footer-personal-info { width: 80%; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-positive: 1; flex-grow: 1; }
  .footer-social-container { -ms-flex-preferred-size: 40%; flex-basis: 40%; } }

@media all and (max-width: 550px) { .skills-grid { -ms-grid-columns: auto auto; grid-template-columns: auto auto; }
  .header { padding-left: 15px; padding-right: 15px; }
  .aside-background-colors { display: none; }
  .aside-social-container { left: -50px; }
  .footer-social { -ms-flex-direction: column; flex-direction: column; }
  .footer-social-container { width: 100%; margin: auto; padding: 0; -ms-flex-order: -1; order: -1; }
  .footer-social-container a { font-size: 16px; }
  .msg-input { width: 97%; }
  .footer-paragraph { margin: auto; padding: 0; } }

@media all and (max-width: 450px) { #typedText { margin-top: 0; font-size: 30px; }
  .skills-container { -ms-grid-columns: auto auto; grid-template-columns: auto auto; }
  .portfolio-item-img { padding: 140px 140px; }
  .contact-icon { font-size: 75px; } }

@media all and (max-width: 320px) { #typedText { font-size: 30px; }
  .aside-social { display: none; }
  .skills-grid { -ms-grid-columns: auto auto; grid-template-columns: auto auto; }
  .skills-paragraph { font-size: 16px; }
  .devicons-skills { font-size: 30px; }
  .portfolio-item-btn { width: 100px; } }
/*# sourceMappingURL=main.css.map */