// Sass variables

$black: black;
$white: white;
$lightgrey: #879599;
$linkedin: #0873ac;
$facebook: #2e5990;
$darkgrey: #282829;
$border-light: #3a4a5d;
$border-dark: #22303e;
$steel: #2A424C;
$dark-steel: #2c3e50;
$light-steel: #394A57;
$blue: #0B93FF;
$html5: #FB4300;
$css3: #0095D0;
$rwd: #00A792;
$js: #F8DA51;
$jquery: #0069AA;
$sass: #DF5F95;
$bootstrap: #5F4182;
$nodejs: #6ABE2A;
$react: #00DCFF;
$git: #FF421A;
$npm: #E22B2C;
$mongodb: #2CAB57;
$vsc: #007BCC;

$gradient-4:linear-gradient(-45deg,  rgba(222,73,109,1) 0%,rgba(171,73,222,1) 100%);
$gradient-2: linear-gradient(135deg,  rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%);
$gradient-3: linear-gradient(-45deg,  rgba(73,221,216,1) 0%,rgba(25,226,115,1) 100%);
$gradient-1: linear-gradient(135deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%);
