@import "../variables/colors";
@import "../variables/typography";
@import "../elements/buttons";
@import "../elements/typo";

//====================================================================================
// RWD
//====================================================================================

//====================================================================================

// Max 950px

@media all and (max-width: 950px) {
  //Hamburger menu

  // .aside-social {
  //   display: none;
  // }

  .navigation-container {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .navigation-container {
    display: flex;
    flex-direction: column;
    //width: 100%;
  }

  .logo {
    margin-top: 10px;
    margin-left: 10px;
  }

  .menu-button-label {
    display: block;
    margin: 0 auto;
    padding: 3px 15px;
    color: $white;
    margin-right: 5px;
    margin-top: -40px;
  }

  .menu-button-input:not(:checked) ~ ul {
    display: none;
  }

  .menu-button-input:checked ~ ul {
    display: flex;
    flex-direction: column;
  }

  .menu-item {
    background-color: rgba($black, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    line-height: 44px;
    margin: auto;
    // padding-left: -40px;
    align-items: center;

    a {
      padding-left: 0;
      color: $white;
    }
  }

  // .menu-link {
  //   padding-left: 0;
  // }

  .menu {
    display: none;
    padding-left: 0;
  }

  #typed-text {
    font-size: $font-size-s;
  }

  .portfolio-grid {
    grid-template-columns: auto auto;
  }
}

//====================================================================================
//Max 500px

@media all and (max-width: 500px) {
  .skills-container {
    grid-template-columns: auto auto;
  }

  .portfolio-grid {
    grid-template-columns: auto;
  }
}

//====================================================================================

// Max 450px

@media all and (max-width: 450px) {
  .skills-container {
    grid-template-columns: auto auto;
  }

  .portfolio-container {
    grid-template-columns: auto;
  }
}

//=======================================================================
//Max 320px
@media all and (max-width: 320px) {
  .navigation {
    background-color: rgba(73,84,222,1);
    color: $white;
  }
  // #mySidenav {
  //   width: 320px;
  // }

  #typedText {
    font-size: $font-size-l;
  }
}