@import "../variables/colors";
@import "../variables/typography";

//====================================================================================
// RWD
//====================================================================================

//====================================================================================
// Max 1200px
@media all and (max-width: 1200px) {

    .skills,
    .contact {
        height: 100%;
    }

    .portfolio-grid {
        grid-template-columns: auto auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .about-img {
        float: right;
    }

    .about-text-container {
        width: 40vw;
    }

    .header {
        padding-top: 12vh;
        padding-bottom: 30px;
    }

    .about-header {
        padding-top: 20vh;
    }

    .contact-container {
        margin: 80px auto;
    }
}

//=================================================================================
// Max 1050px

@media all and (max-width: 1050px) {
    //Hamburger menu

    .navigation-container {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: rgba($black, 0.9);
    }

    .logo {
        margin-left: 10px;
        color: $white;
        border: 2px solid grey;
    }

    .menu-button-label {
        display: block;
        margin: 0 auto;
        padding: 3px 10px;
        color: $white;
        margin-right: 10px;
        margin-top: -45px;
    }

    .menu-button-input:not(:checked)~ul {
        display: none;
    }

    .menu-button-input:checked~ul {
        display: flex;
        flex-direction: column;
    }

    .menu-item {
        background-color: rgba($black, 0.95);
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        line-height: 44px;
        margin: auto;
        align-items: center;

        a {
            padding-left: 0;
            color: $white;
        }
    }

    .menu {
        display: none;
        padding-left: 0;
    }

    #typed-text {
        font-size: $font-size-s;
    }

    .about-header {
        padding-top: 20vh;
    }

    .about {
        height: 100%;
    }

    .about-container {
        flex-direction: column;
        justify-content: center;
    }

    .about-img-container {
        text-align: center;
    }

    .about-img {
        float: none;
    }

    .about-text-container {
        text-align: center;
        margin-top: 30px;
        width: 75vw;
    }

    .contact-container {
        margin-bottom: 150px;
    }

    .footer-paragraph {
        padding-left: 30px;
    }
}

//==============================================================
//Max 800px
@media all and (max-width: 800px) {

    .portfolio-grid {
        grid-template-columns: auto;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
    }

    .footer-input-msg {
        width: 80%;
    }

    .personal-input {
      font-size: $font-size-m;

    }

    .footer-input {
      margin-bottom: 30px;
    }

    .msg-input {
        width: 100%;
        font-size: $font-size-m;

    }

    .footer-personal-info {
        width: 80%;
        flex-wrap: wrap;
        flex-grow: 1;
    }

    .footer-social-container {
      flex-basis: 40%;
    }
}

//====================================================================================
//Max 550px

@media all and (max-width: 550px) {
    .skills-grid {
        grid-template-columns: auto auto;
    }

    .header {
        padding-left: 15px;
        padding-right: 15px;
    }

    .aside-background-colors {
        display: none;
    }

    .aside-social-container {
        left: -50px;
    }

    .footer-social {
      flex-direction: column;
    }

    .footer-social-container {
      width: 100%;
      margin: auto;
      padding: 0;
      order: -1;
      
      a {
        font-size: $font-size-s;
      }
    }

    .msg-input {
      width: 97%;
    }

    .footer-paragraph {
      margin: auto;
      padding: 0;
    }
}

//====================================================================================

// Max 450px

@media all and (max-width: 450px) {

    #typedText {
        margin-top: 0;
        font-size: $font-size-l;
    }

    .skills-container {
        grid-template-columns: auto auto;
    }

    .portfolio-item-img {
        padding: 140px 140px;
    }

    .contact-icon {
        font-size: $font-size-xxl;
    }
}

//=======================================================================
//Max 320px
@media all and (max-width: 320px) {

    #typedText {
        font-size: $font-size-l;
    }

    .aside-social {
        display: none;
    }

    .skills-grid {
        grid-template-columns: auto auto;
    }

    .skills-paragraph {
        font-size: $font-size-s;
    }

    .devicons-skills {
        font-size: $font-size-l;
    }

    .portfolio-item-btn {
        width: 100px;
    }
}
