// About section

@import "../variables/colors";
@import "../variables/typography";

.about {
  height: 100vh;
  transition: .5s all linear;
  position: relative;
  left: -100%;
  top: 0;
}

.effectOn {
  left: 0;
  top: 0;
}

.about-container {
  display: flex;
}

.about-img {
  width: 80%;
  opacity: .9;
  border-radius: 6px;
  filter: grayscale(90%);
}

.about-text-container {
  width: 53%;
}

.about-text-header {
  padding-bottom: 20px;
}

.about-text-paragraph {
  padding-bottom: 25px;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: justify;
}

.about-span {
  font-weight: 700;
}