// Contact section

@import "../variables/colors";
@import "../variables/typography";

.contact {
  height: 100vh;
}

.contact-container {
  display: flex;
  margin-top: 100px;
}

.contact-header {
  padding-top: 20vh;
}

.contact-link {
  text-decoration: none;
  color: $black;
}

.contact-icon {
  font-size: $font-size-xxxl;
  background-color: $gradient-3;
}