// Contact section

@import "../variables/colors";
@import "../variables/typography";

.contact {
  height: 100vh;
}

.contact-container {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.contact-link {
  text-decoration: none;
  color: rgba($black, .6);
  transition: .5s;

  &:hover {
    color: rgba($black, 1.0);
  }
}

.contact-icon {
  font-size: $font-size-xxxxl;
}