//Footer section
@import '../variables/colors';
@import '../variables/typography';

input,
textarea {
    font-family: $quicksand;
    //padding: 20px;
    font-size: $font-size-l;
}

footer {
    background-color: $footer;
    color: $footer-text;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.footer-personal-info {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.footer-input {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer-input-msg {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.personal-input {
    width: 95%;
    padding-top: 10px;
}

.msg-input {
    width: 75%;
    margin-top: 40px;
}

.msg-input,
.personal-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $footer-text;
    background-color: transparent;
    height: 50px;
}

.footer-msg-btn {
    position: relative;
    width: 200px;
    height: 50px;
    margin-top: 40px;
    border: 2px solid $footer-text;
    border-radius: 4px;
    background-color: transparent;
    color: $footer-text;

    &:hover {
        cursor: pointer;
    }
}

.footer-paragraph {
    line-height: $font-size-xl;
    font-size: $font-size-xs;
    margin-left: 10px;
}

.footer-social {
    display: flex;
    // justify-content: space-around;
    margin-top: 40px;
}

.footer-social-container {
    list-style: none;
    display: flex;
    flex-basis: 20%;
    align-items: center;
    margin-right: 10px;

    a {
        text-decoration: none;
        font-size: $font-size-l;
        color: $footer-text;
    }
}
