// Start section

@import '../variables/colors';
@import '../variables/typography';

header {
    height: 80vh;
}

.header-container {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-btn-link {
    margin-top: 40px;
    display: inline-block;
    height: 60px;
    width: 300px;
    line-height: 60px;
    font-size: $font-size-s;
    padding-left: 25px;
    padding-right: 25px;
    color: $white;
    border: 1px solid $white;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1.5px;
    transition: .2s all linear;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;

    span {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      transition: .2s all linear;
    }

    &:hover {
      border: 3px solid $white;
    }

    &:hover span:first-of-type {
      top: -60px;
    }

    &:hover span:last-of-type {
      top: -65px;
    }
}

.header-btn-link-icon {
  font-size: $font-size-m;
}

.text-container {
    font-family: $quicksand;
}

#typedText {
    font-size: $font-size-xl;
    font-weight: 300;
    margin-top: 30px;
}
