// Start section

@import '../variables/colors';
@import '../variables/typography';
@import '../elements/buttons';

header {
    height: 80vh;
}

.header-container {
    margin-top: 0px;
    text-align: center;
    vertical-align: center;
    padding-top: 16vh;
}

.header-btn {
    @include btn-main;
}

.text-container {
    font-family: $quicksand;
}

#typedText {
    font-size: $font-size-xl;
    font-weight: 300;
    margin-top: 30px;
}
