// Navigation section

@import '../variables/colors';
@import '../variables/typography';

//Hamburger menu
.menu-button-input[type="checkbox"]+label {
    font-size: 35px;
    cursor: pointer;
}

.menu-button-input,
.menu-button-label {
    display: none;
    color: $black;
}

//Section ends

.aside-social-container {
    position: fixed;
    left: -25px;
    top: 36vh;
    list-style-type: none;
    z-index: 998;
}

.aside-social-link {
    color: $white;
}

.aside-social-item {
    padding: 10px 20px;
    font-size: $font-size-l;
    z-index: 998;

    i {
        transition: .4s;
    }
}

.aside-linkedin-icon {
  &:hover {
    color: $linkedin;
  }
}

.aside-facebook-icon {
  &:hover {
    color: $facebook;
  }
}

.aside-github-icon {
  &:hover {
    color: $black;
  }
}

.navigation {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .6s all linear;
}

.on-scroll-color {
    transition: 0.6s all linear;
    background-color: rgba($black, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: fixed;
    justify-content: center;
    padding-bottom: 0;
    margin-top: 0;
    height: 60px;

    .container .menu-item>a {
        color: $white;

        &:hover {
          color: $darkgray;
        }
    }
}

.navigation-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: $font-size-m;
    color: $black;
    font-weight: 700;
    font-family: $code;
    border: 2px solid darkslateblue;
    border-radius: 20px;
    background-color: transparent;
    margin-left: 0;
}

.logo-on-scroll {
    font-size: $font-size-m;
    color: $white;
    font-weight: 700;
    font-family: $code;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: transparent;
    margin-left: 10px;
}

.menu {
    display: flex;
    margin-right: 0;
}

.menu-item {
    list-style-type: none;
    z-index: 999;

    a {
        padding-left: 30px;
        text-decoration: none;
        color: $black;
        font-size: $font-size-xs;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.5px;
        transition: .4s;

        &:hover {
            cursor: pointer;
            color: $white;
        }
    }
}
