// Portfolio section

@import "../variables/colors";
@import "../variables/typography";

.portfolio {
    transition: .5s all linear;
    position: relative;
    left: -100%;
    top: 0;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px;
    justify-content: center;
}

.portfolio-item {
    transition: 0.3s all linear;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.portfolio-btn-container {
    display: flex;
    align-items: center;
    margin: 20px auto 80px auto;
}

.portfolio-item-btn {
    height: 40px;
    width: 120px;
    border: 1px solid $white;
    background-color: transparent;
    border-radius: 5px;
    color: $white;
    font-size: $font-size-l;
    transition: .3s all linear;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.portfolio-btn {
    margin-bottom: 60px;
    width: 180px;
    height: 60px;
    border: 1px solid $white;
    border-radius: 5px;
    background-color: transparent;
    color: $white;
    font-size: $font-size-s;
    font-weight: 300;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    text-decoration: none;
    transition: .3s all linear;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.portfolio-btn-icon {
    font-size: $font-size-l;
}

.portfolio-container {
    text-align: center;
}

// .portfolio-item-img {
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     border-radius: 3px;
//     padding: 240px 140px;
//     filter: grayscale(100%);
//     opacity: .8;
// }

.portfolio-item-img {
    width: 80%;
    height: 40vh;

    img {
        width: 100%;
        height: 100%;
    }
}

// .portfolio-item-img-1 {
//   width: 80%;
//     background-image: url('../images/golden.jpg');
// }

// .portfolio-item-img-2 {
//   width: 80%;
//     background-image: url('../images/puzzle.jpg');
// }

// .portfolio-item-img-3 {
//   width: 80%;
//     background-image: url('../images/plans.jpg');
// }

// .portfolio-item-img-4 {
//   width: 80%;
//     background-image: url('../images/pies.jpg');
// }

.portfolio-item-paragraph {
    flex-grow: 1;
    color: $white;
    text-decoration: none;
    width: 90%;
    margin-top: 20px;
    line-height: 30px;
}

.portfolio-span {
    font-weight: 700;
}
